<div class="caixa">
    <h2>Previsão do tempo para <i>{{ cidade }}</i></h2>
    
    <h3>Data e hora da consulta</h3>
    <p>{{ dataHora }}</p>

    <div class="row">
        <div class="col">
            <div class="row">
                <h3>Temperatura atual</h3>
            </div>
            <div class="row">
                <p>{{ temperatura }} ºC</p>
            </div>
        </div>
        
        <div class="col">
            <div class="row">
                <h3>Descrição do tempo atual</h3>
            </div>
            <div class="row">
                <p>{{ descricao }}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <h3>Agora é</h3>
            </div>
            <div class="row">
                <p class="capitalize">{{ diaNoite }}</p>
            </div>
        </div>
        
        <div class="col">
            <div class="row">
                <h3>Umidade</h3>
            </div>
            <div class="row">
                <p>{{ umidade }}</p>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <h3>Velocidade do vento</h3>
            </div>
            <div class="row">
                <p>{{ velocidadeVento }}</p>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <div class="row">
                <h3>Nascer do sol</h3>
            </div>
            <div class="row">
                <p>{{ nascerSol }}</p>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <h3>Pôr do sol</h3>
            </div>
            <div class="row">
                <p>{{ porSol }}</p>
            </div>
        </div>
    </div>

    <h3>Condição de tempo atual</h3>
    <p class="capitalize">{{ condicao }}</p>    

    <h3>Médias de temperatura para a semana</h3>
    <div class="row">
        <div class="col">
            <div class="row">
                <h5>Máxima</h5>
            </div>
            <div class="row">
                <p>{{ mediaTempMax }} ºC</p>
            </div>            
        </div>
        <div class="col">
            <div class="row">      
                <h5>Mínima</h5>
            </div>
            <div class="row">
                <p>{{ mediaTempMin }} ºC</p>
            </div>
        </div>
    </div>

    <button mat-raised-button mat-dialog-close color="primary">Fechar</button>
</div>